* {box-sizing: border-box}


/* Set a style for all buttons */
.modalButton {
  border-radius: 10px;
  background-color: #b5bdc3;
  color: white;
  padding: 6px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  /*width: 100%;*/
  opacity: 0.9;
  outline: none;
}

.modalButton:hover {
  opacity:1;
  cursor: pointer;

}


#saveBtn {
  background-color: #4CAF50;
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: center;
}

.container a {
  float: none;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
  background-color: #4CAF50;
}

/* The Modal Close Button (x) */
.close {
  cursor: pointer;
  position: absolute;
  right: 335px;
  top: 120px;
  font-size: 40px;
  font-weight: bold;
  color: #aaaaaa;
}


/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
   #saveBtn {
    width: 100%;
  }
}



