@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Courgette');


h1 {
	display: inline;
	position: relative;
	font: 200px Courgette;
	letter-spacing: -5px;
	color: rgba(0,0,255,0.5);

}

h1:after {
	content: "S I M S  4";
	position: absolute; left: 10px; top: 5px;
	color: rgba(255,0,0,0.5);
}
p.event {
    color: orange;
}


p.label, label {
    color: darkblue;
    margin: 10px;
    font-weight: bold;

}



myButton {
    background-color: #4caf50;
    width: 50%;
    line-height: 1em;
    border-radius: 13px;
    font-family: Georgia, serif;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
      border: none;
  color: white;
  padding: 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

myButton:hover {
    background: #21b96b;
}

.button-block {
    display: block;
    width: 35%;
}
