<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/500.css') }}" />
</head>

<body>

  <div id='container'>
    <div class='box' id="inFront">
      <h1 id='outlinedText'> Shoo flee!</h1>
      <p id='simlishTrans'> (That's simlish for "There's a problem") </p>
      <p id='notified'> Don't worry, I've already been notified! Go ahead and try again </p>
      <button onclick="window.location.href='/'">Travel back home</button>
    </div>
  </div>

</body>

</html>