    <div class="row">
                <div class="col-sm-4">
        <p class="label"> Event</p>
                </div>
    <div class = "col-sm-8">
        {% if event %}
            <p class="event"> {{ event }}  </p>
        {% endif %}
    </div>
    </div>

    <div class="row">
            <div class="col-sm-4">
        <p class="label"> Description</p>

            </div>
            <div class="col-sm-4">

        {% if description %}
            <p class="event"> {{ description }}  </p>
        {% endif %}
    </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <p class="label"> Category</p>
        </div>
        <div class="col-sm-8">
            {% if category %}
                <p class="event"> {{ category }}  </p>
            {% endif %}
        </div>
    </div>
