<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"/>
    <meta charset="UTF-8">
    <title>Random Sims 4 event generator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>


</head>


<body onload="load()">
<div class="container-fluid container">
    <H1>S I M S 4 Random Event Generator </H1>

    <H3> Welcome to my sims 4 event generator, press the button below to generate an event</H3>

    {% include 'displayEvents.html' %}

    {% include 'settings.html' %}

    <!--Generate Button -->
    <form action="/generate">
        <button type="submit" class="button" onclick="sendChoices()" value="generateEvents"
                name="generateEvents"
                formmethod="get|post">Generate New Event </button>


    </form>

{#    ajax#}
{#    <button type = "submit" class="button" onclick="sendChoices()" value="generateEvents"#}
{#                name="generateEvents"> NEW EVENT</button>#}


</div>


<script type=text/javascript src="{{ url_for('static', filename='JS/main.js') }}"></script>
</body>
</html>