<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"/>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ title }} - </title>
    {% else %}
        <title>Random Sims 4 event generator</title>
    {% endif %}
</head>
<body onload="load()">
<H1> Sims 4 Random Event Generator </H1>

<div>
    <p> Welcome to my sims 4 event generator, press the button below to generate an event</p>
</div>

<div>
    <!-- checkboxes -->
    <form action="/">
        <input type="checkbox" id="deaths" name="deaths" value="deaths">
        <label for="deaths">Deaths Included?</label><br>

        <input type="checkbox" title="select this to only have basegame" id="basegame" name="packsIncluded[]"
               value="basegame" onclick="setBasegameOnlyState(this)">
        <label for="basegame">Basegame Only</label><br>

        <input type="checkbox" class="checkBox" name="packsIncluded[]" id="Pets" value="Pets"
               onclick="setBasegameOnlyState(this)">
        <label for="Pets">Pets</label>

        <input type="checkbox" class="checkBox" name="packsIncluded[]" id="GetToWork" value="Get To Work"
               onclick="setBasegameOnlyState(this)">
        <label for="GetToWork">Get to Work</label>

        <button type="submit" class="myButton" onclick="save()" value="saveChoices" name="saveChoices"
                formmethod="get|post">Save Settings
        </button>
    </form>
</div>

{% block content %}{% endblock %}

<div>
    <!--Generate Button -->
    <form action="/generate">
        <button type="submit" class="myButton" onclick="checkCheckBox()" value="generateEvents" name="generateEvents"
                formmethod="get|post">Generate New Event
        </button>
        <!-- to store js var in -->
        <input type="hidden" name="deathStorage" id="deathStorage" value="">

    </form>
</div>

<script type=text/javascript src="{{ url_for('static', filename='JS/main.js') }}"></script>
</body>
</html>