{#display settings in modal#}

{#checkbox for deadly events#}
<div>
    <input type="checkbox" class="checkBox" id="deaths" name="deaths" value="deaths">
    <label for="deaths">Deadly events?</label><br>
</div>
<div class="container  checkBoxContainer">

    {#checkboxes for packs#}
    <h2>Packs Included</h2>

    <div class="break"></div>

    <div>
        <input type="checkbox" class="checkBox" name="packsIncluded[]" id="Pets" value="Pets">
        <label for="Pets">Pets</label>
    </div>

    <div>
        <input type="checkbox" class="checkBox" name="packsIncluded[]" id="Get To Work"
               value="Get To Work">
        <label for="Get To Work">Get to Work</label>
    </div>

    <div>
        <input type="checkbox" class="checkBox" name="packsIncluded[]" id="University"
               value="University">
        <label for="University">University</label>
    </div>

    <div>
        <input type="checkbox" class="checkBox" name="packsIncluded[]" id="Strangerville"
               value="Strangerville">
        <label for="Strangerville">Strangerville</label>
    </div>

    {# all button for packs#}
    <div class="break"></div>
    <button class="btn allBtn" id="allPacks" onclick="checkAll(id);">All</button>
    <div class="break"></div>

    {#checkboxes for categories#}
    <h2>Categories </h2>
    <div class="break"></div>

    <div>
        <input type="checkbox" class="checkBox" name="categoriesIncluded[]" id="Household Events"
               value="Household Events">
        <label for="Household Events">Household Events</label>
    </div>

    <div>
        <input type="checkbox" class="checkBox" name="categoriesIncluded[]" id="Career" value="Career">
        <label for="Career">Careers</label>
    </div>

    <div>
        <input type="checkbox" class="checkBox" name="categoriesIncluded[]" id="Financial" value="Financial">
        <label for="Financial">Financial</label>
    </div>

    <div>
        <input type="checkbox" class="checkBox" name="categoriesIncluded[]" id="Disaster" value="Disaster">
        <label for="Disaster">Disaster</label>
    </div>

    <div>
        <input type="checkbox" class="checkBox" name="categoriesIncluded[]" id="Illness" value="Illness">
        <label for="Illness">Illness</label>
    </div>

    <div class="break"></div>

    {#all button for categories#}
    <button class="btn allBtn" id="allCategories" onclick="checkAll(id);">All</button>
</div>

